.container1{
background:linear-gradient(#000 30%,#0000)!important;
}

.footer {
  width: 100%;
  font-size: 1rem;
  text-align: center;
  overflow: visible;
  color: #ffffff;
  font-weight: bold;
  height: 23rem;
  background-color:#343a40;
  }

  .footerkategori {
    width: 100%;
    font-size: 1rem;
    text-align: center;
    overflow: visible;
    color: #ffffff;
    font-weight: bold;
    height: 4rem;
    background-color:#343a40;
    }

  .footerpage2 {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 1rem;
    text-align: center;
    overflow: visible;
    color: #ffffff;
    font-weight: bold;
    height: 4rem;
    background-color:#343a40;
  }
  
  
  /* register */
  @media(min-width: 768px) {
    .field-label-responsive {
      padding-top: .5rem;
      text-align: right;
    }
  }

  .center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}

/* INI UNTUK SLIDER ANIMATION */
.carousel-fade .carousel-item {
  opacity: 0;
  transition-duration: .6s;
  transition-property: opacity;
 }
 
 .carousel-fade  .carousel-item.active,
 .carousel-fade  .carousel-item-next.carousel-item-left,
 .carousel-fade  .carousel-item-prev.carousel-item-right {
   opacity: 1;
 }
 
 .carousel-fade .active.carousel-item-left,
 .carousel-fade  .active.carousel-item-right {
  opacity: 0;
 }
 
 .carousel-fade  .carousel-item-next,
 .carousel-fade .carousel-item-prev,
 .carousel-fade .carousel-item.active,
 .carousel-fade .active.carousel-item-left,
 .carousel-fade  .active.carousel-item-prev {
  transform: translateX(0);
  transform: translate3d(0, 0, 0);
 }

 

 
